<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
    <link href="../../styles/syntax.css" rel="stylesheet">

    <title>JavaScript Syntax</title>
    <script src="../../js/syntax.js" defer></script>
</head>

<body>
    <h2>JavaScript Syntax</h1>

    <div id="colum">
        <table>
            <tr class="topic">
                <th id="topic_1">topic_1</th>
                <th id="topic_2">topic_2</th>
            </tr>
            <tr>
                <td id="content_1">content_1</td>
                <td id="content_2">content_2</td>
            </tr>
            <tr class="topic">
                <th id="topic_3">topic_3</th>
                <th id="topic_4">topic_4</th>
            </tr>
            <tr>
                <td id="content_3">content_3</td>
                <td id="content_4">content_4</td></tr>
        </table>
    </div>
</body>
</html>