@charset "UTF-8";
:root {
  --h1-font-size: calc(1.9rem);
  --h-font-color: rgba(255,255,255,1);

  /* header */;
  --header-font-family: "roboto";
  --header-font-size: calc(1.4rem + 1.5vw);
  --header-font-weight: 400;

  --header-background-color: rgba(255, 208, 0, 0.9);
  --header-font-color: rgb(121, 115, 115);
  --header-border-color: rgb(200, 130, 0);

  /* body */
  --body-background-color: rgb(4, 3, 3);

  --body-font-family: "font-sans-serif";
  --body-font-size: 1rem;
  --body-font-weight: 100;
  --body-font-color: rgba(255,255,255,1);


  --bg-color-grid: rgba(20, 20, 20, 1);
  --grid-border-color: rgba(255, 255, 255, 1);

  /* images */
  --img-masthead: url("../images/coding.png");
  --img-masthead-logo: url("../images/javascript_logo.png"); 
  --img-grid: url("../images/masthead-bg.jpg");

}

header.masthead {
    display: flex;
    align-items: center; /* Center items vertically */
    position: relative; /* To position the background image correctly */
    overflow: hidden;
  
  
    background-color: var(--header-background-color);
  
  
    width: 100%;
    height: 400px;
    max-width: 100%;
    max-height: 30%;
    
  
    
    border-bottom: var(--header-border-color) solid;
    /* border: var(--header-border-color) solid; */
    border-radius: 5px;
  
    margin: 25px 25px 25px 25px;
    padding-left: 10px;
    z-index: 1;
  }

  h1.masthead {
    font-size: xx-large;
    width: 100%; 
    text-align:center;
    align-self: center;
    font-style: italic;

    position: absolute;

    top: 120px;
    left: 20px;

    color: var(--body-background-color);
  }

div.masthead-background {
    opacity: 0.05;
    background-image: var(--img-masthead);
    background-size: contain; /* Cover the entire area */
    background-position:center;
    position: absolute;
    background-repeat: no-repeat; /* Repeation the image only once */
  
    height: 400px;
    width: 400px;
    

    left: 50%;

    z-index: 3;
  
  }


  div.masthead-logo {
    opacity: 0.8;
    background-image: var(--img-masthead-logo);
    background-size: contain; /* Cover the entire area */
    position: absolute; /* Position the background image within the header */
    
    background-repeat: no-repeat; /* Repeation the image only once */
  
    height: 250px;
    width: 250px;
    
    
    top: 80px;
    left: 60px;

    z-index: 2;
  
  }

  body{
    background-color: var(--body-background-color);
  
  
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    color: var(--body-font-color);
    
  }



  .views {
    height: 40px;
    width: auto;
    
    display: grid;
    grid-template-columns: auto auto;
  
    column-gap: 50px;

  
    margin: 25px 25px 25px 25px;
  }
  

  .view {
    display: flex;
    width: 100%;
  
    justify-content: center; /* center the items horizontally */
    align-items: center;
  
    background-color: var(--bg-color-grid);
    text-align: center;
  
    border-left: var(--header-background-color) solid;
    /* border-left: var(--grid-border-color) solid; */
    border-radius: 10px;
  
  }